<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
  </head>
  <body>
    <header>
    <h1 ><%= title %></h1>
    <h2 class="sub-title">Welcome to <%= title %> Api</h2>
    </header>

     <section class="data-container">
      <div class="data-div" id='dataDiv'>

        <ul class="movies-title" id="List">

        </ul>
        <div class="movie-data" id="movieData">

        </div>
       
       </div>
    </section>
 







    <script src="javascripts/api.js"></script>
   
  </body>
</html>
