

@font-face {
  font-family: 'starwars';
  src: url('../../fonts/Starjout.ttf');
}
:root{
  --yellow:#FFE81F!important;
}
body {
  padding: 50px;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color:var(--yellow);
}
ul{padding:0;

 }
li{list-style: none;
  padding: .5rem;

 }

a {
  color: #00B7FF;
}
h1{font-family: 'starwars',"Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 5rem;
    color:var(--yellow);
    /* -webkit-text-stroke: .01px #000000; */

}
h2{ color:var(--yellow);}
